<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Aim!</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1409297799161693</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1032355105029-l10j51ofckhsdmvh3pdcgu188a33f5qe</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>FacebookAppID</key>
	<string>1409297799161693</string>
	<key>FacebookDisplayName</key>
	<string>Aim!</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT_NAME) media library use</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) calendar events</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) camera use</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) always uses location </string>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) location use</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) location use</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) motion use</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) will not share any of your photo content with any third party entities.</string>
	<key>NSRemindersUsageDescription</key>
	<string>$(PRODUCT_NAME) reminder use</string>
	<key>UIAppFonts</key>
	<array>
		<string>PhosphateProInline.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>achievementsShortcutIcon</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>See all your awards</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Achievements</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.martinzhang.Aim.awards</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>newSessionShortcutIcon</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Create a new session</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Session</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.martinzhang.Aim.new-session</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
